
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(178, 24, 195);
}
.wrapper{
    width: 605px;
    background: whitesmoke;
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.wrapper .content{
    margin: 35px 0;
}
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}
.quote-area i:first-child{
    display: flex;
    align-items: flex-start;
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}
.quote-area .quotes{
    font-size: 24px;
    text-align: center;
    word-break: break-all;
}
.wrapper .buttons{
    border-top: 1px solid rgb(174, 172, 172);
}
.buttons .feautres{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.feautres ul{
    display: flex;
}
.feautres ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: rgb(178, 24, 195);
    border-radius: 50%;
    border: 2px solid rgb(178, 24, 195);
}
.feautres ul li:hover{
    color: aliceblue;
    background-color:rgb(157, 56, 169) ;
}
.feautres button{
    display: flex;
    justify-content: flex-end;
    border: none;
    color: aliceblue;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 30px;
    background: rgb(157, 56, 169);
};
